body {
    background-color: black;
    font-family: sans-serif;
}

label {
    color: lightyellow;
}

a {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

em {
    color: lightyellow;
    font-style: normal;
}

p {
    font-size: large;
}

img {
    width: 100%;
}

h1 > span, h2 > span {
    background-color: darkslategray;
}

.button {
    display: inline;
}

p > span {
    background-color: darkgreen;
    padding: 3px;
    border: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-style: solid;
    border-color: white;
    float: left;
}

div.image {
    height: 200px;
    overflow: auto;
}

img {
}


tr:nth-child(4n+2) {
    border-style: none none solid;
    border-bottom-color: white;
}

th {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    color: white;
    font-size: large;
    background-color: #000060;
}

th:last-child {
    width: 1%;
}

td {
    width: 2%;
    height: 24px;
    color: white;
    border-color: grey;
    border-style: solid solid none;
    border-width: 1px;
    text-align: center;
}

td:first-child {
    border-right-width: 3px;
    border-color: white;
    background-color: #000060;
}