body {
    background-color: black;
}

em {
    color: lightyellow;
    font-style: normal;
}

h1, h2, p {
    font-family: sans-serif;
}

p {
    font-size: large;
}

img {
    width: 100%;
}

h1 > span, h2 > span {
    background-color: darkslategray;
}

.button {
    display: inline;
}

p > span {
    background-color: darkgreen;
    padding: 3px;
    border: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-color: white;
    border-style: solid;
    float: left;
}

div.image {
    height: 200px;
    overflow: auto;
}

img {
}

tr {
}

td {
    width: 2%;
    height: 20px;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    
}